.container {
  display: flex;
  flex-wrap: wrap;
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  color: navy;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  color: navy;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paragraph {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.center {
  text-align: center;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.container1 div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}
