body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paragraph{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.center {
    text-align: center;
}
